#            _ __  _
#     ____ _(_) /_(_)___ _____  ____  ________
#    / __ `/ / __/ / __ `/ __ \/ __ \/ ___/ _ \
#  _/ /_/ / / /_/ / /_/ / / / / /_/ / /  /  __/
# (_)__, /_/\__/_/\__, /_/ /_/\____/_/   \___/
#  /____/        /____/

**/.env*

# Ai files
/AGENTS.md
/FRAMEWORK_REFACTOR_PLAN.md
